/*Style settings */
body{
  background-color: #55c2e4;
  color:White;
}

p.sansserif {
    font-family: Verdana, Helvetica, sans-serif;
}

.container-1 {
  display: flex;
  /*
    align-items:flex-start;
    align-items:flex-end;
    align-items:center;

    flex-direction:column;
    */
}

.container-2 {
  /*
    justify-content:flex-start;
    justify-content:flex-end;
    justify-content:center;
    justify-content:space-around;
    */
}

.container-3 {
  display: flex;
}

.container-1 div {
  flex-direction: row;
}

.box-1 {
  flex: 1;
  order: 1;
  padding: 10px;
}

.box-2 {
  flex: 1;
  order: 2;

}

.box-3 {
  flex: 1;
  order: 3;
  padding: 10px;
  max-width:170px
}



.box-4 {
  flex: 1;
  order: 1;
  padding: 10px;
}

.box-5 {
  flex: 1;
  order: 4;
  padding: 10px;
  max-width:90px;
}

.container-2-box {
  flex-basis: 27%;
}

.container-3-box {
  flex-basis: 12%;
}

@media(min-width:468px) {}
