body {
  background-color: #55c2e4;
  color: White;
}

p.sansserif {
  font-family: Verdana, Helvetica, sans-serif;
}

@media(min-width:468px) {
  .container-1 {
    display: flex;

  }
  .container-2 {
    display: flex;

  }
}

.container-1 div {
  border: 1px #ccc solid;
  padding: 10px;
  height: 100px;
}

.box-1 {
  flex: 2;
  order: 1;
}

.container-2 div {
  border: 1px #ccc solid;
  padding: 10px;
  height:200px;
  flex-direction: column;
}

.box-2 {
  flex: 1;
  order: 1;
}

.box-3 {
  flex: 1;
  order: 2;
  max-width:180px;

}

.box-4 {
  flex: 1;
  order: 3;
}
